body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #E4D6A7;
}
button#start {
  background-color: #629DB2;
  border: thick double #1A6B89;
  border-radius: 40%;
}
.results {
  display:none;
}
h2 {
  padding: 20px;
  background-color: #9B2915;
  color: #E9B44C;
}
h3, h4{
  margin-top: 10px;
  background-color: #5BA4BF;
  width: 400px;
  margin: 10 auto;
  border-radius: 8%;
}
.paragraphs {
  background-color: #E9B44C;
  margin: 0 auto;
  padding: 20px;
  width: 500px;
  border-radius: 12%;
  padding-left: 40px;
}
p {
  text-align: left;
  padding-top: 0px;
  margin-bottom: 0px;
}
