body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
.results {
  display:none;
}
h3, h4{
  margin-top: 10px;
}
.paragraphs {
  margin: 0 auto;
  width: 500px;
}
p {
  text-align: left;
  padding-top: 0px;
  margin-bottom: 0px;
}
